@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*
*	Layout
*/

header.main-header {
  background: #333;
  height: 40px;
  padding: 0 20px;
  position: relative;
}

header.main-header .header-title {
  line-height: 40px;
}

header.main-header a {
  color: #fff;
  text-decoration: none;
}

header.main-header ul {
  list-style-type: none;
  padding: 0;
}

header.main-header .auth-links {
  background: #333;
  float: right;
  margin: 0;
}

header.main-header .auth-links > li {
  display: inline-block;
}

header.main-header .auth-links > li:not(:last-child) {
  margin-right: 10px;
}

header.main-header .auth-links a {
  line-height: 40px;
  padding: 0 15px;
}

header.main-header .auth-links .auth-drop {
  text-align: right;
}

header.main-header .auth-links .auth-drop .auth-menu {
  display: none;
}

header.main-header .auth-links .auth-drop:hover .auth-menu {
  display: block;
}

/*
*	Security Section
*/

.main-container {
  padding: 15px;
}

/*
*	Security Search	
*/

.search-container input[name=search_text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  padding: 5px;
  width: 100%;
}

.search-container input[name=search_text]:focus {
  outline: none;
}

.search-container .search-results {
  border: solid 1px #333;
  border-top: none;
}

.search-container .search-results .search-result {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.search-container .search-results .search-result:hover {
  background: #DDD;
}

