@import url(https://fonts.googleapis.com/css?family=Raleway);* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header.main-header {
  background: #333;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

header.main-header a {
  color: #fff;
  text-decoration: none;
}

