@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import "variables";

* {
	font-family: $font-stack;
}

html,
body {
	margin: 0;
	padding: 0;
}

header.main-header {
	background: $header-color;
	
	height: $header-height;
	line-height: $header-height;
	padding: 0 20px;
		
	.header-title {

	}
	a {
		color: #fff;
		text-decoration: none;
	}
}
