@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

// Variables
@import "variables";

* {
	font-family: $font-stack;
}

html,
body {
	margin: 0;
	padding: 0;
}

/*
*	Layout
*/

header.main-header {
	background: $header-color;
	height: $header-height;
	padding: 0 20px;
	position: relative;

	.header-title {
		line-height: $header-height;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	.auth-links {
		background: $header-color;
		float: right;
		margin: 0;

		>li {
			display: inline-block;
		}

		>li:not(:last-child) {
			margin-right: 10px;
		}

		a {
			line-height: $header-height;
			padding: 0 15px;
		}

		.auth-drop {
			text-align: right;

			.auth-menu {
				display: none;
			}

			&:hover {
				.auth-menu {
					display: block;
				}

			}
		}
	}
}

/*
*	Security Section
*/

.main-container {
	padding: 15px;
}

/*
*	Security Search	
*/

.search-container {
	input[name=search_text] {
		box-sizing: border-box;
		font-size: 24px;
		padding: 5px;
		width: 100%;

		&:focus {
			outline: none;
		}
	}
	.search-results {
		border: solid 1px #333;
		border-top: none;
		.search-result {
			cursor: pointer;
			font-size: 20px;
			padding: 5px;

			&.highlighted,
			&:hover {
				background: #DDD;
			}

		}
	}
}

/*
*	Security History Graph
*/

.security-history-graph {
	height: 600px;
	margin-top: 15px;
	position: relative;
}



